<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Wall</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row border-bottom border-dark bg-primary py-3 text-light">
            <div class="col-md-9 mt-3">
                <h1>The Wall</h1>
            </div>
            {% if login %}
                <div class="col-md-2 mt-3">
                    <h3>Welcome {{user.first_name}}</h3>
                </div>
                <div class="col-md-1 mt-3">
                    <p><a class="btn btn-dark btn-md" href="/logout">Logout</a></p>
                </div>
            {% else %}
                <div class="col-md-3 mt-3">
                    <p><a class="btn btn-dark btn-md" href="/geting_started">Login | Register</a></p>
                </div>
            {% endif %}
        </div>

        <div class="container">
            <h1 class="mt-3">Post a Message</h1>
            
            <div>
                <form action="/create_message" method="post">
                    {% csrf_token %}
                    <div class="row-md-12">
                        <div class="form-group">
                            <textarea class="form-control" name="message" cols="30" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-outline-success">Post a message</button>
                    </div>
                </form>
            </div>
            <div>
                <div class="mt-3 mb-3">
                    {% for msg in messages %}
                        <h5>{{msg.user.first_name}} {{msg.user.last_name}} - {{msg.created_at}}</h5>
                        <p>{{msg.message}}</p>
                        {% for cmt in msg.comments.all %}
                            <div class="p-3">
                                <h6>{{cmt.user.first_name}} {{cmt.user.last_name}} - {{cmt.created_at}}</h6>
                                <p>{{cmt.comment}}</p>
                            </div>
                        {% endfor %}
                        <div class="col">
                            <form action="/create_comment" method="post">
                                {% csrf_token %}
                                <div class="row-md-12 p-1">
                                    <div class="form-group">
                                        <textarea class="form-control" name="comment" cols="10" rows="2"></textarea>
                                    </div>
                                    <input type="hidden" name="message_id" value={{msg.id}}>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <button type="submit" class="btn btn-outline-success">Post a comment</button>
                                </div>
                            </form>
                        </div>
                        
                {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>